/* Estilo general del contenedor del carrito */
.wp-block-woocommerce-cart {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

/* Estilo del encabezado del carrito */
.wp-block-woocommerce-cart .wp-block-post-title {
    color: #000000;
    text-align: left;
}

/* Estilo de la tabla del carrito */
.wp-block-woocommerce-cart .wc-block-cart-items {
    margin-bottom: 20px !important;
}

/* Estilo de las filas y celdas de la tabla */
.wp-block-woocommerce-cart .wc-block-cart-item__image img {
    border-radius: 4px;
}

/* Estilo de los enlaces y botones */
.wp-block-woocommerce-cart .wc-block-components-product-name,
.wp-block-woocommerce-cart .wc-block-cart-item__remove-link,
.wp-block-woocommerce-cart .wc-block-components-totals-coupon-link {
    color: #000000;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.wp-block-woocommerce-cart .wc-block-components-product-name:hover,
.wp-block-woocommerce-cart .wc-block-cart-item__remove-link:hover,
.wp-block-woocommerce-cart .wc-block-components-totals-coupon-link:hover {
    color: #0073aa;
}

.wp-block-woocommerce-cart .wc-block-components-totals-coupon__button .wc-block-components-button__text {
    color: #fff;
    background-color: #0073aa;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.wp-block-woocommerce-cart .wc-block-components-button__text:hover {
    background-color: #006493;
}

/* Estilo de los campos de cantidad */
.wp-block-woocommerce-cart .wc-block-components-quantity-selector__input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wc-block-components-quantity-selector__button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wp-block-woocommerce-cart .wc-block-components-quantity-selector__button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.wp-block-woocommerce-cart .wc-block-components-quantity-selector__button:hover:not(:disabled) {
    background-color: #0073aa;
}

/* Estilo de los totales del carrito */
.wp-block-woocommerce-cart .wc-block-components-totals-wrapper {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo del botón de finalizar compra */
.wp-block-woocommerce-cart .wc-block-cart__submit-button.contained {
    background-color: #0073aa;
    color: #fff;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.wp-block-woocommerce-cart .wc-block-cart__submit-button.contained:hover {
    background-color: #006493;
}

.wp-block-woocommerce-cart .wc-block-cart__submit-button.contained.wc-block-components-button__text {
    background-color: #006493 !important;
}

/* Desplegable carrito */
/* Título del carrito */
.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-title-block {
    padding: 20px;
    color: #0073aa;
}

/* Lista de productos en el carrito */
.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-items-block {
    padding: 20px;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-cart-items {
    border-collapse: collapse;
}

/* Filas y celdas de la tabla */
.wp-block-woocommerce-mini-cart-contents .wc-block-cart-items__header,
.wp-block-woocommerce-mini-cart-contents .wc-block-cart-items__row {
    border-bottom: 1px solid #ddd;
}

/* Enlaces y botones */
.wp-block-woocommerce-mini-cart-contents .wc-block-components-product-name,
.wp-block-woocommerce-mini-cart-contents .wc-block-cart-item__remove-link {
    color: #0073aa;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-components-product-name:hover,
.wp-block-woocommerce-mini-cart-contents .wc-block-cart-item__remove-link:hover {
    color: #005177;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-components-button__text {
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Campos de cantidad */
.wp-block-woocommerce-mini-cart-contents .wc-block-components-quantity-selector__input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-components-quantity-selector__button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-components-quantity-selector__button:hover:not(:disabled) {
    background-color: #0073aa;
}

/* Footer del carrito */
.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-footer-block {
    padding: 20px;
}

.wp-block-woocommerce-mini-cart-contents .wc-block-mini-cart__footer-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-cart-button-block.outlined {
    background-color: #ffffff;
}

.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-cart-button-block.outlined:hover {
    background-color: #000000 !important;
    transition: background-color 1.5s ease;
    color: #fff;
}

.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-checkout-button-block.contained {
    background-color: #0073aa;
    color: #fff;
}

.wp-block-woocommerce-mini-cart-contents .wp-block-woocommerce-mini-cart-checkout-button-block.contained:hover {
    background-color: #005a84;
    transition: background-color 0.7s ease;
    color: white;
}