.wp-block-woocommerce-related-products .wp-block-woocommerce-product-price {
    color: #666;
}
  
.wp-block-woocommerce-related-products .wp-block-button {
    text-align: center;
    margin-bottom: 1rem;
}
  
.wp-block-woocommerce-related-products .wp-block-button__link {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0071a1;
    border-radius: 5px;
}
  
.wp-block-woocommerce-related-products .wp-block-button__link:hover {
    background-color: #005f8b;
    color: white;
}